<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-join-images"
	version="1.0.0">
	<name>JoinImages</name>
	<description>Join Images Cordova Plugin</description>
	<license>MIT</license>

	<js-module src="www/JoinImages.js" name="JoinImages">
		<clobbers target="plugins.JoinImages" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="JoinImages">
				<param name="ios-package" value="JoinImages" />
			</feature>
		</config-file>
	
		<header-file src="src/ios/JoinImages.h" />
		<source-file src="src/ios/JoinImages.m" />
		<header-file src="src/ios/ImageService.h" />
		<source-file src="src/ios/ImageService.m" />
		<header-file src="src/ios/NSData+Base64.h" />
		<source-file src="src/ios/NSData+Base64.m" />
	</platform>
	
	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="JoinImages">
				<param name="android-package" value="com.sgoldm.plugin.joinImages.JoinImages"/>
			</feature>
		</config-file>

		<source-file src="src/android/JoinImages.java" target-dir="src/com/sgoldm/plugin/joinImages"/>
	</platform>

</plugin>